<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies" href="/tabs/movies">
      <ion-icon aria-hidden="true" name="film"></ion-icon>
      <ion-label>Filmy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="series" href="/tabs/series">
      <ion-icon aria-hidden="true" name="tv"></ion-icon>
      <ion-label>Seriály</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists" href="/tabs/lists">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Seznamy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Nastavení</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
